{% load static %}
<link rel="stylesheet" href="{% static 'css/chart-list.css'%}">
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Phetsarath:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-1">
      <img class="wallpaper" alt="" src="{% static 'images/Background.jpg' %}"/>
      <div class="form-container">
        <div class="form-content">
          <h1 class="title">Chart</h1>
          <h3 class="subtitle">Dengarkan 20 Lagu Paling Nge-<i>top</i>!</h3>
          <a href="{% url 'fitur_biru:chart-content' 'Daily' %}">
            <button class="button">Harian</button>
          </a>
          <a href="{% url 'fitur_biru:chart-content' 'Weekly' %}">
            <button class="button">Mingguan</button>
          </a>
          <a href="{% url 'fitur_biru:chart-content' 'Monthly' %}">
            <button class="button">Bulanan</button>
          </a>
          <a href="{% url 'fitur_biru:chart-content' 'Yearly' %}">
            <button class="button">Tahunan</button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>