<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/chart-detail.css'%}">
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap"
    />
  </head>
  <body>
    <div class="desktop-1">
      <img class="bgr" alt="" src="{% static 'images/Background.jpg'%}"/>
      <div class="header">
        <div class="header-container">
          <h1 class="tittle">Podcast</h1>
          <h3 class="name">Malam Jumat</h3>
        </div>
      </div>
      <div class="content">
        <h2 class="eps">Daftar Episode</h2>
        <table class="content-table">
          <tr>
            <th class="content-header-l">Judul</th>
            <th class="content-header">Deskripsi</th>
            <th class="content-header">Durasi</th>
            <th class="content-header">Tanggal</th>
            <th class="content-header-r">Aksi</th>
          </tr>
          <tr>
            <td class="tuple-l">Pocong Gundul</td>
            <td class="tuple">etgfrwetg5rety45ey5ya</td>
            <td class="tuple">1 jam 13 menit</td>
            <td class="tuple">69/69/6969</td>
            <td class="tuple-r"><button class="play">Hapus</button></td>
          </tr>
          <tr>
            <td class="tuple-l">Janda Penasaran</td>
            <td class="tuple">erhjweikla3or3409r</td>
            <td class="tuple">1 jam 13 menit</td>
            <td class="tuple">69/69/6969</td>
            <td class="tuple-r"><button class="play">Hapus</button></td>
          </tr>
          <tr>
            <td class="tuple-l">Arwah Nino</td>
            <td class="tuple">-w04ri2340irt04923uit60935 mt0634</td>
            <td class="tuple">1 jam 13 menit</td>
            <td class="tuple">69/69/6969</td>
            <td class="tuple-r"><button class="play">Hapus</button></td>
          </tr>
          <tr>
            <td class="tuple-l">Yasinan Dulu, ya Ges!</td>
            <td class="tuple">tgf4rwiutg09423v9tqu mu</td>
            <td class="tuple">1 jam 13 menit</td>
            <td class="tuple">69/69/6969</td>
            <td class="tuple-r"><button class="play">Hapus</button></td>
          </tr>
          <tr>
            <td class="tuple-l">...</td>
            <td class="tuple">...</td>
            <td class="tuple">...</td>
            <td class="tuple">...</td>
            <td class="tuple-r">...</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>