<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riwayat Royalti - Marmut Platform</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>CEK ROYALTI</h2>
        <h3>LIST ROYALTI</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Judul Lagu</th>
                    <th scope="col">Judul Album</th>
                    <th scope="col">Total Play</th>
                    <th scope="col">Total Download</th>
                    <th scope="col">Total Royalti Didapat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lagu1</td>
                    <td>Album1</td>
                    <td>3</td>
                    <td>0</td>
                    <td>Rp 450,000</td>
                </tr>
                <tr>
                    <td>Lagu2</td>
                    <td>Album2</td>
                    <td>2</td>
                    <td>2</td>
                    <td>Rp 520,000</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
