<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Lagu dalam Album - Marmut Platform</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2 class="mt-4">DAFTAR LAGU PADA ALBUM1</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Judul</th>
                    <th scope="col">Durasi</th>
                    <th scope="col">Total Play</th>
                    <th scope="col">Total Download</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lagu1</td>
                    <td>2 menit</td>
                    <td>3</td>
                    <td>0</td>
                    <td>
                        <button class="btn btn-primary">Lihat Detail</button>
                        <button class="btn btn-danger">Hapus</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
