
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width" /> {% block meta %} {% endblock meta %}
</head>

<body>
    <div class="desktop-1">
        <img class="bgr" alt="" src="{% static 'images/Background.jpg'%}">
        <div class="header">
            {% block header %} {% endblock header %}
        </div>
        <div class="content">
            {% block content %} {% endblock content %}
        </div>
</body>


</html>