{% load static %}
<link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Phetsarath:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-1">
      <img class="wallpaper" alt="" src="{% static 'images/Auth-Wallpaper.png' %}"/>
      <div class="form-container">
        <div class="form-content">
          <h1 class="title">Chart</h1>
          <h3 class="subtitle">Dengarkan 20 Lagu Paling Nge-<i>top</i>!</h3>
          <button class="button">Harian</button>
          <button class="button">Mingguan</button>
          <button class="button">Bulanan</button>
          <button class="button">Tahunan</button>
        </div>
      </div>
    </div>
  </body>
</html>