{% load static %}
<link rel="stylesheet" href="{% static 'css/front-page.css'%}">
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Phetsarath:wght@400;700&display=swap" />
</head>

<body>
    <div class="desktop-1">
        <img class="wallpaper" alt="" src="{% static 'images/Auth-Wallpaper.png' %}" />
        <div class="form-container">
            <div class="form-content">
                <h1 class="tittle">Marmut - F09</h1>
                <button class="button">Masuk</button>
                <button class="button">Daftar</button>
            </div>
        </div>
        <img class="logo" alt="" src="{% static 'images/Logo.png' %}">
    </div>
</body>

</html>